   
input{
    all: unset;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid transparent;
    border-width: 1px;
    box-shadow: 100px;
    border-color: black;
    justify-content: center;
    align-items: center;
}  
input :hover{
    border-color: #aa00ff;
    background-color: #aa00ff;
    transform: translate(100px);
}  
input::placeholder{
    font-size: 1rem;
}